#h1{
    margin-top: 20px;
    margin-bottom: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2em;
        color:white;
        text-align: center;
        font: bold;
       
    

    }


    body {
        background-image: url('https://wallpaperaccess.com/full/1251639.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }