#cont1{
     
    width: 300px;
    height: 350px;
    overflow: hidden;
    background: #1e1e1e;
    border-radius: 6px;
    margin: 50px auto;
    box-shadow: 0px 0px 50px rgba(0,0,0,.8);}

#login1{
    margin-top: 20px;
    margin-bottom: 20px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2em;
        color:white;
        text-align: center;
        font: bold;
       
    

    }

    #username{
        width:auto;
      height:auto;
      border:none;
      border-radius:8px;
      padding:10px 25px;
      margin-bottom:10px;
      font-family:'Raleway',sans-serif;
      font-size:10px;
        
    
    }

    #password{
        width:auto;
      height:auto;
      border:none;
      border-radius:8px;
      padding:10px 25px;
      margin-bottom:10px;
      margin-top: 20px;
      font-family:'Raleway',sans-serif;
      font-size:10px;
        
    
    }

    #box1{
        margin-top: 20px;
        text-align: center;
        width: 240px;
        height: 500px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto; 
    }

    #submit1{
        color: gray;
        background-color: white;
        padding: 12px 25px;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 0;
        border-radius: 2px;
        outline: 0;
        transition: all .2s; 
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px; 
        margin-top: 10px;
    }

    body {
        background-image: url('https://wallpaperaccess.com/full/1251639.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

    #reg{

        color: white;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
        font:bold;
        display:flex; 
        justify-content:center; 
        align-items:center
    
    }
    
    #reg:hover {
        color:orangered ;
    
    }