

body{
    overflow: auto;
    background-image: url('https://images.hdqwalls.com/wallpapers/vibrant-nature-ocean-4k-nk.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6em;
    color:white;
    text-align: center;
    font: bold;
    margin-bottom: 0px;
    margin-top: 50px;

}















